body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #00796b;
    color: #00796b;
}

.formulario {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #00796b;
    width: 300px;
}

.formulario label {
    margin-top: 10px;
    font-weight: bold;
}

.formulario input {
    margin: 5px 0;
    padding: 6px;
    width: 100%;
    border: 1px solid #00796b;
    border-radius: 4px;
}

#salvarUsuario {
    margin-top: 15px;
    padding: 10px;
    background-color: #00796b;
    color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#salvarUsuario:hover {
    background-color: #004d40;
}

header h2 {
    color: #00796b;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background: green;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

table, th, td {
    border: 1px solid #00796b;
    padding: 8px;
}

th {
    background: #00796b;
}
